
@{
    ViewData["Title"] = "BranchSearch";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Branch</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        select {
            width: 300px;
            padding: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body>

    <h2>Select an Employee</h2>

    <select id="sel" onchange="Fetchbranch();">
        <option value="">-- Select Employee --</option>
    </select>
    <br>

     <div> 
     <form action="/" method="post"> 

        name: <input type="text" id="name" value="" /><br> 
         id: <input type="text" id="id" value="" /><br> 
      head: <input type="text" id="head" />  <br /> 
       Number: <input type="number" id="number" />  <br /> 
 
        </form> 
     </div> 



    <script>
        window.onload = function () {
            fetchAndLoadDropdown();
        };

        function fetchAndLoadDropdown() {
            const flag = "BranchSearch";

            $.ajax({
                type: "GET",
                url: '/Branch/getAPIData',
                data: { datas: flag },
                async: false,
                success: function (response) {
                    const data = JSON.parse(response);
                    loadDropdown(data);
                },
                error: function () {
                    alert("Error loading data from API");
                }
            });
        }

        function loadDropdown(data) {
            const select = document.getElementById("sel");

            // Clear previous options except the first
            select.length = 1;

            if (Array.isArray(data) && data.length > 0) {
                data.forEach(item => {
                    const option = document.createElement("option");

                    // Use backticks for template literals (correct syntax)
                    option.value = item.id;  // Assuming `id` is the key
                    option.text = `${item.id} ------ ${item.bname}`;  // Assuming `ename` is the employee name

                    select.appendChild(option);
                });
            }
        }


        function Fetchbranch()  {

            const branchSelect = document.getElementById('sel');
            const selectedvalue = branchSelect.value;
            fetchapiget2(selectedvalue);
        }


        function fetchapiget2(selectedvalue)

            {

            debugger;
            var flag="SearchById";

            var indata = flag + "/" + selectedvalue;  // API flag                                                                                                                                                                                                                                                                                            

            $.ajax({
                type: "GET",
                url: '/Branch/getAPIData',
                data: { datas: indata },
                async: false,
                success: function (response) {
                    const data = JSON.parse(response);
                  loaddatatextbox(data);
                },
                error: function () {
                    alert("Error loading data from API");
                }
            });
        }

        function loaddatatextbox(data)  {

            debugger;

            if (data.length >0 ) {

                document.getElementById('id').value=data[0].id;
                document.getElementById('name').value=data[0].bname;
                document.getElementById('head').value=data[0].bhead;
                document.getElementById('number').value=data[0].nemp;
              
            }


        }

    </script>

</body>
</html>


